#setup {
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 3.2;
  text-align: justifyLeft;
  position: relative;
  top:75px;
  left:20px;
  font-weight: normal;
}
#setup strong{
	font-size:30px;
}
#leftbar {
	float:left;
}
#form {
	float:left;
}
#concierge-line {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 768px;
  height: 1px;
  top:60px;
  left:20px;
  float:left;
}
#concierge-logo {
  position: relative;
  left: 0px;
  top: 0px;
  width: 227px;
  height: 142px;
  z-index: 76;
  float:left;
}
#topbar-logo {
  float:left;
  clear:left;
}
#topbar-text {
	float:left;
}
#microsite-logo {
  position: relative;
  left: 45px;
  top: 10px;
  z-index: 71;
}
#microsite-manager {
  float:left;
  font-size: 25px;
  color: rgb(255, 255, 255);
  line-height: 3.624;
  text-align: justifyLeft;
  position:relative;
  left: 100px;
  top: 5px;
  z-index: 47;
}
#microsite-text {
	clear:left;
  float:left;
  font-size: 14.75px;
  font-family: "Helvetica Neue";
  color: rgb(255, 255, 255);
  line-height: ;
  text-align: justifyLeft;
  position:relative;
  left: 100px;
  top: 0px;
  z-index: 48;
  width:700px;
}
#concierge-line2 {
	clear:left;
	float:left;
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 20px;
  top: 40px;
  width: 965px;
  height: 1px;
  z-index: 41;
}
#template {
  clear:left;
  float:left;
  font-size: 21px;
  font-family: "Helvetica Neue";
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 3.624;
  text-align: justifyLeft;
  position: relative;
  left: 40px;
  top: 40px;
  z-index: 45;
}
#chrome-text {
  clear:left;
  float:left;
  font-size: 16.667px;
  font-family: "Helvetica Neue";
  color: rgb(255, 255, 255);
  line-height: 4.53;
  text-align: justifyLeft;
  position: relative;
  left: 195px;
  top: 80px;
  z-index: 64;
}
#midnight-text {
  float:left;
  font-size: 16.667px;
  font-family: "Helvetica Neue";
  color: rgb(255, 255, 255);
  line-height: 4.53;
  text-align: justifyLeft;
  position: relative;
  left: 445px;
  top: 80px;
  z-index: 64;
}
#external-text {
  float:left;
  font-size: 16.667px;
  font-family: "Helvetica Neue";
  color: rgb(255, 255, 255);
  line-height: 4.53;
  text-align: justifyLeft;
  position: relative;
  left: 670px;
  top: 80px;
  z-index: 64;
}
#chrome:hover {
	border:white solid 3px;
}
#midnight:hover {
	border:white solid 3px;
}
#chrome {
	clear:left;
	float:left;
	margin-top:60px;
	margin-left:120px;
	border:solid white 1px;
}
#midnight {
	float:left;
	margin-top:60px;
	margin-left:110px;
	border:solid white 1px;
}
#external {
	float:left;
	margin-top:120px;
	margin-left:120px;
}
#external img {
	width:150px;
}



#previous-step {
  clear:left;
  float:left;
  position: relative;
  left: 240px;
  top: 125px;
  width: 179px;
  height: 36px;
  z-index: 49;
  margin-bottom:225px;
}
#save-exit {
  float:left;
  position: relative;
  left: 260px;
  top: 125px;
  width: 179px;
  height: 36px;
  z-index: 49;
  margin-bottom:225px;
}
#next-step {
  float:left;
  position: relative;
  left: 280px;
  top: 125px;
  width: 179px;
  height: 36px;
  z-index: 49;
  margin-bottom:225px;
}
#microsite-frame {
	clear:left;
	float:left;
	margin-top:100px;
	margin-left:40px;
}
#microsite-frame iframe {
	border-radius:12px;
	padding:10px;
	background-color:white;
}






