#form_wrapper { 
	width: 550px;
    height: 280px;
	padding: 10px;
	border: 1px solid black;
	background-color: #f8f8f8;
    overflow: scroll;
    overflow-x: hidden;
}
.fixit_title{
	float:left;
	padding-left: 2px;
	padding-right: 10px;
}
.highlight { 
	background-color: #E8EEF7;
}
.nohighlight {
	background-color: #FFFFFF;
}
#saved {
	color: green;
	font-size: 12pt;
}
#dialog {
	display: none;
}
#replyAddFiles input { 
	float: left;
}
.curve_right {
    background-image: url("../../repository_images/buttons/button_blue_right.png");
}
.curve_left {
    background-image: url("../../repository_images/buttons/button_blue_left.php");
}
#searchBarDiv {
    margin-left: 214px;
    padding-bottom: 10px;
}
