 <style>


	table.cfdump_wddx,
	table.cfdump_xml,
	table.cfdump_struct,
	table.cfdump_array,
	table.cfdump_query,
	table.cfdump_cfc,
	table.cfdump_object,
	table.cfdump_binary,
	table.cfdump_udf,
	table.cfdump_udfbody,
	table.cfdump_udfarguments {
		font-size: xx-small;
		font-family: verdana, arial, helvetica, sans-serif;
		cell-spacing: 2px;
	}

	table.cfdump_wddx th,
	table.cfdump_xml th,
	table.cfdump_struct th,
	table.cfdump_array th,
	table.cfdump_query th,
	table.cfdump_cfc th,
	table.cfdump_object th,
	table.cfdump_binary th,
	table.cfdump_udf th,
	table.cfdump_udfbody th,
	table.cfdump_udfarguments th {
		text-align: left;
		color: white;
		padding: 5px;
	}

	table.cfdump_wddx td,
	table.cfdump_xml td,
	table.cfdump_struct td,
	table.cfdump_array td,
	table.cfdump_query td,
	table.cfdump_cfc td,
	table.cfdump_object td,
	table.cfdump_binary td,
	table.cfdump_udf td,
	table.cfdump_udfbody td,
	table.cfdump_udfarguments td {
		padding: 3px;
		background-color: #ffffff;
		vertical-align : top;
	}

	table.cfdump_wddx {
		background-color: #000000;
	}
	table.cfdump_wddx th.wddx {
		background-color: #444444;
	}


	table.cfdump_xml {
		background-color: #888888;
	}
	table.cfdump_xml th.xml {
		background-color: #aaaaaa;
	}
	table.cfdump_xml td.xml {
		background-color: #dddddd;
	}

	table.cfdump_struct {
		background-color: #0000cc ;
	}
	table.cfdump_struct th.struct {
		background-color: #4444cc ;
	}
	table.cfdump_struct td.struct {
		background-color: #ccddff;
	}

	table.cfdump_array {
		background-color: #006600 ;
	}
	table.cfdump_array th.array {
		background-color: #009900 ;
	}
	table.cfdump_array td.array {
		background-color: #ccffcc ;
	}

	table.cfdump_query {
		background-color: #884488 ;
	}
	table.cfdump_query th.query {
		background-color: #aa66aa ;
	}
	table.cfdump_query td.query {
		background-color: #ffddff ;
	}


	table.cfdump_cfc {
		background-color: #ff0000;
	}
	table.cfdump_cfc th.cfc{
		background-color: #ff4444;
	}
	table.cfdump_cfc td.cfc {
		background-color: #ffcccc;
	}


	table.cfdump_object {
		background-color : #ff0000;
	}
	table.cfdump_object th.object{
		background-color: #ff4444;
	}

	table.cfdump_binary {
		background-color : #eebb00;
	}
	table.cfdump_binary th.binary {
		background-color: #ffcc44;
	}
	table.cfdump_binary td {
		font-size: x-small;
	}
	table.cfdump_udf {
		background-color: #aa4400;
	}
	table.cfdump_udf th.udf {
		background-color: #cc6600;
	}
	table.cfdump_udfarguments {
		background-color: #dddddd;
		cell-spacing: 3;
	}
	table.cfdump_udfarguments th {
		background-color: #eeeeee;
		color: #000000;
	}

</style> 
			<table class="cfdump_struct">
			<tr><th class="struct" colspan="2">struct</th></tr>
			
			
				
				
					
					<tr>
					<td class="struct">Detail</td>
					<td>
					
						
							
								
			[empty string]
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">ErrNumber</td>
					<td>
					
						
							
								
			0
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">Message</td>
					<td>
					
						
							
								
			Object of type class coldfusion.runtime.Struct cannot be used as an array
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">StackTrace</td>
					<td>
					
						
							
								
			coldfusion.runtime.NonArrayException: Object of type class coldfusion.runtime.Struct cannot be used as an array
	at coldfusion.runtime.Cast._List(Cast.java:1277)
	at coldfusion.runtime.CFPage.ArrayLen(CFPage.java:525)
	at cf_mediaMultiupload2dexpress2ecfm1526807864.runPage(E:\_personal\Vox Pop Design\SpotlightHomeTours\site\_mediaMultiupload-express.cfm:30)
	at coldfusion.runtime.CfJspPage.invoke(CfJspPage.java:196)
	at coldfusion.tagext.lang.IncludeTag.doStartTag(IncludeTag.java:370)
	at coldfusion.runtime.CfJspPage._emptyTcfTag(CfJspPage.java:2661)
	at cfuploadFile2ecfm856917150.runPage(E:\_personal\Vox Pop Design\SpotlightHomeTours\site\dccom\components\ProFlashUpload\uploadFile.cfm:56)
	at coldfusion.runtime.CfJspPage.invoke(CfJspPage.java:196)
	at coldfusion.tagext.lang.IncludeTag.doStartTag(IncludeTag.java:370)
	at coldfusion.filter.CfincludeFilter.invoke(CfincludeFilter.java:65)
	at coldfusion.filter.ApplicationFilter.invoke(ApplicationFilter.java:279)
	at coldfusion.filter.RequestMonitorFilter.invoke(RequestMonitorFilter.java:48)
	at coldfusion.filter.MonitoringFilter.invoke(MonitoringFilter.java:40)
	at coldfusion.filter.PathFilter.invoke(PathFilter.java:86)
	at coldfusion.filter.LicenseFilter.invoke(LicenseFilter.java:27)
	at coldfusion.filter.ExceptionFilter.invoke(ExceptionFilter.java:70)
	at coldfusion.filter.ClientScopePersistenceFilter.invoke(ClientScopePersistenceFilter.java:28)
	at coldfusion.filter.BrowserFilter.invoke(BrowserFilter.java:38)
	at coldfusion.filter.NoCacheFilter.invoke(NoCacheFilter.java:46)
	at coldfusion.filter.GlobalsFilter.invoke(GlobalsFilter.java:38)
	at coldfusion.filter.DatasourceFilter.invoke(DatasourceFilter.java:22)
	at coldfusion.filter.RequestThrottleFilter.invoke(RequestThrottleFilter.java:126)
	at coldfusion.CfmServlet.service(CfmServlet.java:175)
	at coldfusion.bootstrap.BootstrapServlet.service(BootstrapServlet.java:89)
	at jrun.servlet.FilterChain.doFilter(FilterChain.java:86)
	at coldfusion.monitor.event.MonitoringServletFilter.doFilter(MonitoringServletFilter.java:42)
	at coldfusion.bootstrap.BootstrapFilter.doFilter(BootstrapFilter.java:46)
	at jrun.servlet.FilterChain.doFilter(FilterChain.java:94)
	at jrun.servlet.FilterChain.service(FilterChain.java:101)
	at jrun.servlet.ServletInvoker.invoke(ServletInvoker.java:106)
	at jrun.servlet.JRunInvokerChain.invokeNext(JRunInvokerChain.java:42)
	at jrun.servlet.JRunRequestDispatcher.invoke(JRunRequestDispatcher.java:286)
	at jrun.servlet.ServletEngineService.dispatch(ServletEngineService.java:543)
	at jrun.servlet.jrpp.JRunProxyService.invokeRunnable(JRunProxyService.java:203)
	at jrunx.scheduler.ThreadPool$DownstreamMetrics.invokeRunnable(ThreadPool.java:320)
	at jrunx.scheduler.ThreadPool$ThreadThrottle.invokeRunnable(ThreadPool.java:428)
	at jrunx.scheduler.ThreadPool$UpstreamMetrics.invokeRunnable(ThreadPool.java:266)
	at jrunx.scheduler.WorkerThread.run(WorkerThread.java:66)
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">TagContext</td>
					<td>
					
						
							
								
			
				<table class="cfdump_array">
				<tr><th class="array" colspan="2">array
				</th></tr>
				

				
				
					
					<tr><td class="array">1</td>
					<td>

					
						
			<table class="cfdump_struct">
			<tr><th class="struct" colspan="2">struct</th></tr>
			
			
				
				
					
					<tr>
					<td class="struct">COLUMN</td>
					<td>
					
						
							
								
			0
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">ID</td>
					<td>
					
						
							
								
			CF_CFPAGE
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">LINE</td>
					<td>
					
						
							
								
			30
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">RAW_TRACE</td>
					<td>
					
						
							
								
			at cf_mediaMultiupload2dexpress2ecfm1526807864.runPage(E:\_personal\Vox Pop Design\SpotlightHomeTours\site\_mediaMultiupload-express.cfm:30)
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">TEMPLATE</td>
					<td>
					
						
							
								
			E:\_personal\Vox Pop Design\SpotlightHomeTours\site\_mediaMultiupload-express.cfm
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">TYPE</td>
					<td>
					
						
							
								
			CFML
		
							
						
						
					</td>
					</tr>
					
				
			
			</table>
		
					

					</td></tr>
				
					
					<tr><td class="array">2</td>
					<td>

					
						
			<table class="cfdump_struct">
			<tr><th class="struct" colspan="2">struct</th></tr>
			
			
				
				
					
					<tr>
					<td class="struct">COLUMN</td>
					<td>
					
						
							
								
			0
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">ID</td>
					<td>
					
						
							
								
			CFINCLUDE
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">LINE</td>
					<td>
					
						
							
								
			56
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">RAW_TRACE</td>
					<td>
					
						
							
								
			at cfuploadFile2ecfm856917150.runPage(E:\_personal\Vox Pop Design\SpotlightHomeTours\site\dccom\components\ProFlashUpload\uploadFile.cfm:56)
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">TEMPLATE</td>
					<td>
					
						
							
								
			E:\_personal\Vox Pop Design\SpotlightHomeTours\site\dccom\components\ProFlashUpload\uploadFile.cfm
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">TYPE</td>
					<td>
					
						
							
								
			CFML
		
							
						
						
					</td>
					</tr>
					
				
			
			</table>
		
					

					</td></tr>
				

				
			</table>
		
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">Type</td>
					<td>
					
						
							
								
			
			    
				
					
					
						
						
						
						
						
						
						
					
					
				
					
						
					
					

				
				<table class="cfdump_object">
				<tr><th class="object" colspan="2"> object  of java.lang.Class<br>
				
				</th></tr>
				

				
				    
					
						
					
					
						<tr>
							<td class="object">Class Name</td>
							<td>java.lang.Class</td>
						</tr>
					


					
					
						
							<tr>
								<td class="object">Methods</td>
								<td>
								<table class="cfdump_object">
									<tr><th class="object" >Method
										</th>
										<th class="object" >Return Type
										</th>
									</tr>
						
						
								
								
									<tr>
										<td class="object">asSubclass(java.lang.Class)</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">cast(java.lang.Object)</td>
										<td>java.lang.Object</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">desiredAssertionStatus()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">forName(java.lang.String, boolean, java.lang.ClassLoader)</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">forName(java.lang.String)</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getAnnotation(java.lang.Class)</td>
										<td>java.lang.annotation.Annotation</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getAnnotations()</td>
										<td>java.lang.annotation.Annotation[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getCanonicalName()</td>
										<td>java.lang.String</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getClassLoader()</td>
										<td>java.lang.ClassLoader</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getClasses()</td>
										<td>java.lang.Class[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getComponentType()</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getConstructor(java.lang.Class[])</td>
										<td>java.lang.reflect.Constructor</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getConstructors()</td>
										<td>java.lang.reflect.Constructor[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredAnnotations()</td>
										<td>java.lang.annotation.Annotation[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredClasses()</td>
										<td>java.lang.Class[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredConstructor(java.lang.Class[])</td>
										<td>java.lang.reflect.Constructor</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredConstructors()</td>
										<td>java.lang.reflect.Constructor[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredField(java.lang.String)</td>
										<td>java.lang.reflect.Field</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredFields()</td>
										<td>java.lang.reflect.Field[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredMethod(java.lang.String, java.lang.Class[])</td>
										<td>java.lang.reflect.Method</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredMethods()</td>
										<td>java.lang.reflect.Method[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaringClass()</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getEnclosingClass()</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getEnclosingConstructor()</td>
										<td>java.lang.reflect.Constructor</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getEnclosingMethod()</td>
										<td>java.lang.reflect.Method</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getEnumConstants()</td>
										<td>java.lang.Object[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getField(java.lang.String)</td>
										<td>java.lang.reflect.Field</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getFields()</td>
										<td>java.lang.reflect.Field[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getGenericInterfaces()</td>
										<td>java.lang.reflect.Type[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getGenericSuperclass()</td>
										<td>java.lang.reflect.Type</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getInterfaces()</td>
										<td>java.lang.Class[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getMethod(java.lang.String, java.lang.Class[])</td>
										<td>java.lang.reflect.Method</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getMethods()</td>
										<td>java.lang.reflect.Method[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getModifiers()</td>
										<td>int</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getName()</td>
										<td>java.lang.String</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getPackage()</td>
										<td>java.lang.Package</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getProtectionDomain()</td>
										<td>java.security.ProtectionDomain</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getResource(java.lang.String)</td>
										<td>java.net.URL</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getResourceAsStream(java.lang.String)</td>
										<td>java.io.InputStream</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getSigners()</td>
										<td>java.lang.Object[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getSimpleName()</td>
										<td>java.lang.String</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getSuperclass()</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getTypeParameters()</td>
										<td>java.lang.reflect.TypeVariable[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isAnnotation()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isAnnotationPresent(java.lang.Class)</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isAnonymousClass()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isArray()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isAssignableFrom(java.lang.Class)</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isEnum()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isInstance(java.lang.Object)</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isInterface()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isLocalClass()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isMemberClass()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isPrimitive()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isSynthetic()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">newInstance()</td>
										<td>java.lang.Object</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">toString()</td>
										<td>java.lang.String</td>
									</tr>
								
						
						</table></td></tr>

					

					
						
						
					
					
							
					
					
				 
				
				</table>
				
			
		
							
						
						
					</td>
					</tr>
					
				
			
				
				
					
					<tr>
					<td class="struct">type</td>
					<td>
					
						
							
								
			
			    
				
					
					
						
						
						
						
						
						
						
					
					
				
					
						
					
					

				
				<table class="cfdump_object">
				<tr><th class="object" colspan="2"> object  of java.lang.Class<br>
				
				</th></tr>
				

				
				    
					
						
					
					
						<tr>
							<td class="object">Class Name</td>
							<td>java.lang.Class</td>
						</tr>
					


					
					
						
							<tr>
								<td class="object">Methods</td>
								<td>
								<table class="cfdump_object">
									<tr><th class="object" >Method
										</th>
										<th class="object" >Return Type
										</th>
									</tr>
						
						
								
								
									<tr>
										<td class="object">asSubclass(java.lang.Class)</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">cast(java.lang.Object)</td>
										<td>java.lang.Object</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">desiredAssertionStatus()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">forName(java.lang.String, boolean, java.lang.ClassLoader)</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">forName(java.lang.String)</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getAnnotation(java.lang.Class)</td>
										<td>java.lang.annotation.Annotation</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getAnnotations()</td>
										<td>java.lang.annotation.Annotation[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getCanonicalName()</td>
										<td>java.lang.String</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getClassLoader()</td>
										<td>java.lang.ClassLoader</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getClasses()</td>
										<td>java.lang.Class[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getComponentType()</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getConstructor(java.lang.Class[])</td>
										<td>java.lang.reflect.Constructor</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getConstructors()</td>
										<td>java.lang.reflect.Constructor[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredAnnotations()</td>
										<td>java.lang.annotation.Annotation[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredClasses()</td>
										<td>java.lang.Class[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredConstructor(java.lang.Class[])</td>
										<td>java.lang.reflect.Constructor</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredConstructors()</td>
										<td>java.lang.reflect.Constructor[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredField(java.lang.String)</td>
										<td>java.lang.reflect.Field</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredFields()</td>
										<td>java.lang.reflect.Field[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredMethod(java.lang.String, java.lang.Class[])</td>
										<td>java.lang.reflect.Method</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaredMethods()</td>
										<td>java.lang.reflect.Method[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getDeclaringClass()</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getEnclosingClass()</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getEnclosingConstructor()</td>
										<td>java.lang.reflect.Constructor</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getEnclosingMethod()</td>
										<td>java.lang.reflect.Method</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getEnumConstants()</td>
										<td>java.lang.Object[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getField(java.lang.String)</td>
										<td>java.lang.reflect.Field</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getFields()</td>
										<td>java.lang.reflect.Field[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getGenericInterfaces()</td>
										<td>java.lang.reflect.Type[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getGenericSuperclass()</td>
										<td>java.lang.reflect.Type</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getInterfaces()</td>
										<td>java.lang.Class[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getMethod(java.lang.String, java.lang.Class[])</td>
										<td>java.lang.reflect.Method</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getMethods()</td>
										<td>java.lang.reflect.Method[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getModifiers()</td>
										<td>int</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getName()</td>
										<td>java.lang.String</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getPackage()</td>
										<td>java.lang.Package</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getProtectionDomain()</td>
										<td>java.security.ProtectionDomain</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getResource(java.lang.String)</td>
										<td>java.net.URL</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getResourceAsStream(java.lang.String)</td>
										<td>java.io.InputStream</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getSigners()</td>
										<td>java.lang.Object[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getSimpleName()</td>
										<td>java.lang.String</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getSuperclass()</td>
										<td>java.lang.Class</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">getTypeParameters()</td>
										<td>java.lang.reflect.TypeVariable[]</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isAnnotation()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isAnnotationPresent(java.lang.Class)</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isAnonymousClass()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isArray()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isAssignableFrom(java.lang.Class)</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isEnum()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isInstance(java.lang.Object)</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isInterface()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isLocalClass()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isMemberClass()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isPrimitive()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">isSynthetic()</td>
										<td>boolean</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">newInstance()</td>
										<td>java.lang.Object</td>
									</tr>
								
						
								
								
									<tr>
										<td class="object">toString()</td>
										<td>java.lang.String</td>
									</tr>
								
						
						</table></td></tr>

					

					
						
						
					
					
							
					
					
				 
				
				</table>
				
			
		
							
						
						
					</td>
					</tr>
					
				
			
			</table>
		
